# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Generated cache
data/*_embeddings.json

# Uploaded temporary PDFs
data/*.pdf